block variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        title Benetech | #{title}

        link(rel="icon", size="128x128", type="image/png" href="images/favicon.png")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap', rel='stylesheet')

        block head_css
            link(rel="stylesheet", href="css/styles.min.css")
    body
        block header
            header#header
                nav.navbar.navbar-expand-lg.navbar-dark
                    a.navbar-brand(href="#")
                        img(src="images/logo.png")
                    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#main-menu-top", aria-controls="main-menu-top", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    #main-menu-top.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href="#") Patient
                            li.nav-item
                                a.nav-link(href="#") Screening
                            li.nav-item
                                a.nav-link(href="#") Tools
                            li.nav-item
                                a.nav-link(href="#") Reports
                            li.nav-item.nav-cta
                                a.nav-link.btn.btn-info.bt-btn.no-box-shadow(href="#") Add Patient
                        form.form-inline
                            input.form-control.mr-sm-2(type="search", placeholder="Type here...", aria-label="Search")
                            button.btn.btn-primary(type="submit")
                                img(src="images/search.png")
                        .top-nav-logout
                            a(href="#")
                                img(src="images/logout.png")

        block main_body
            #bt-main-body
                .container-fluid
                    .row
                        block sidebar
                            aside#bt-sidebar.col.bg-white
                                nav
                                    ul.list-unstyled
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/add.png")
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/find.png")
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/edit.png")
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/clipboard.png")
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/clipboard.png")
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/clipboard.png")
                                        li
                                            a(href="#")
                                                img(src="images/sidebar/clipboard.png")
                        block main
                            main#bt-main.col(role="main")
                                block content
                                    h1 Content

        block footer
            footer

        block bottom_js
            script(src="js/jquery-3.3.1.min.js")
            script(src="js/popper.min.js")
            script(src="js/bootstrap.min.js")
            script(src="js/scripts.js")
