@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller.ttf');
}

body {
    font-family: "Aller", Roboto, sans-serif;
    letter-spacing: 0.06em;
}

.lh-1 {
    line-height: 1 !important;
}