#bt-main-body{
    $sidebar-width: 64px;
    #bt-sidebar {
        flex: 0 0 $sidebar-width;
        max-width: $sidebar-width;
        padding-top: 64px;
        nav {
            ul {
                li {
                    padding-bottom: 40px;
                    @extend .text-center;
                    a {
                        img {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
    #bt-main {
        flex: 0 0 calc(100% - #{$sidebar-width});
        max-width: calc(100% - #{$sidebar-width});
    }
}
