/**********************************************
** *** Developer: Debashis Roy Bhowmik *** ****
* *** Email: debashis.buet08@gmail.com *** ****
********* *** Website: debashis.me *** ********
* *** Github: https://github.com/wall-e-08/ ***
***********************************************/

@mixin padding-x($val) {
    padding-left: $val;
    padding-right: $val;
}

@mixin padding-y($val) {
    padding-top: $val;
    padding-bottom: $val;
}